	/*
	Woocomerce Rollie theme Stylesheet

	_c -> means container

	1.General
	2.MyAccount Navigation
	3.My Orders Table
	4cART
	4A CART RESPOSIVE MEDIA QUERY
	5.Cart totals
	iNPUT SPINERS
	5.Disable some styles
4.animations


	*/

/* General */

.woocommerce h3,.woocommerce h2
{
padding-right: 0.5rem;
padding-left: 0.5rem;
}
.woocommerce
{
display: -ms-flexbox;

display: flex;

-ms-flex-wrap: wrap;

flex-wrap: wrap;
}
.woocommerce form .form-row label,
.woocommerce form .form-row span
{
		display: flex;
justify-content: center;
text-align: center;
}
.woocommerce form .form-row span 
{
margin-left: auto
}




/* General End*/

/*Woo myaccout nav */


.woocommerce-MyAccount-navigation > ul {
list-style:none;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
text-align:center;
padding: 0;
}
	.woocommerce-orders-table__cell-rollie_order-custom_column
	{
		padding: 0px;
		display: block;
		margin-bottom:2rem;
	}
			
.rollie_my_acc_nav_big_tiles_c > .woocommerce-MyAccount-navigation /*  COL-12*/
	{
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%
		margin:auto;
		position: relative;
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
	}
	.rollie_my_acc_dashboard>nav>ul>.rollie_my_acc_nav_big_tiles  :before
	{
		font-size: 20vw !important;
	
	}




.woocommerce-MyAccount-navigation > ul >.rollie_my_acc_nav_big_tiles :before{
	display: block;
	font-size:4rem;
	font-family: "Font Awesome 5 Free","FontAwesome"; 
	font-weight: bold;

}
.rollie_my_acc_nav_big_tiles > a{

display: block;

}
.rollie_my_acc_nav_big_tiles_c > .woocommerce-MyAccount-navigation 
{
	margin-left: auto;
	margin-right: auto;
}
/*SIMPLE SIDE NAV*/


.rollie_my_acc_nav_side :after{
	display: inline;
	padding-left:0.5rem;
	padding-right:0.5rem;
	font-size:2rem;
	font-family: "Font Awesome 5 Free","FontAwesome"; 
	font-weight: bold;
	text-align:right;


}
@media screen and (min-width: 768px) /* AT BOOTSTRAP md*/
{
	.rollie_my_acc_nav_side :after{
		float: right;
	}
}
.rollie_my_acc_nav_side_c  > .woocommerce-MyAccount-navigation
{
-ms-flex: 0 0 100%;

flex: 0 0 100%;

max-width: 100%;
position: relative;

width: 100%;
}

.rollie_user_info
{
padding-right: 15px;
padding-left: 15px;	
margin: 0px;
padding-bottom: 1rem;
padding-top: 1rem;
border-top-style:solid ;
border-left-style:solid;  
border-right-style:solid; 
}
.rollie_my_acc_nav_side > a
{
	text-align:left;
	display: block;
line-height:2rem;	
	width: 100%;
}
.rollie_my_acc_nav_side
{
	padding: 0.5rem;
border-style: solid;
border-width: 1px;
	border-left-width:2px;
		border-right-width:2px;
	width: 100%

}

.rollie_my_acc_nav_side_c > nav > ul :first-child 
{
	border-top-width:2px;
}
.rollie_my_acc_nav_side_c > nav > ul :last-child 
{
	border-bottom-width:2px;
	clear: both
}

.rollie_my_acc_nav_side_c + .woocommerce-MyAccount-content
{

-ms-flex: 0 0 58.333333%;

flex: 0 0 58.333333%;

max-width: 58.333333%;
position: relative;

width: 100%;

padding-right: 15px;

padding-left: 15px;
}





@media screen and (min-width: 992px) /* AT BOOTSTRAP LG*/
{
		.rollie_my_acc_nav_side_c + .woocommerce-MyAccount-content
	{
	-ms-flex: 0 0 66.666667%;

	flex: 0 0 66.666667%;

	max-width: 66.666667%;
	}
	.rollie_my_acc_nav_big_tiles_c > .woocommerce-MyAccount-navigation /*  COL-LG-3*/
	{
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
	}
	.rollie_my_acc_nav_big_tiles_full  :before
	{
		font-size: 8vw !important;
	
	}
}

/*!!!!!!!inset 50px 0 15px -1px rgb(255, 255, 255) ,inset -50px 0 15px -1px rgb(255, 255, 255)

	/*inset 0 19px 0px 0px rgba(0,0,0,0),inset 0 -9px 0px 0px rgba(0,0,0,0),inset 30px 0 15px -4px rgba(255, 255, 255, 1), inset -30px 0 15px -4px rgba(255, 255, 255, 1)
Woo myaccout nav Avesome Icons 
	*/
.woocommerce-MyAccount-navigation-link--dashboard.rollie_my_acc_nav_big_tiles :before , .rollie_my_acc_nav_side.woocommerce-MyAccount-navigation-link--dashboard :after
{
	content: "\f0e4";
}
.woocommerce-MyAccount-navigation-link--orders.rollie_my_acc_nav_big_tiles :before, .rollie_my_acc_nav_side.woocommerce-MyAccount-navigation-link--orders :after
{
	content: "\f291";
}
.woocommerce-MyAccount-navigation-link--downloads.rollie_my_acc_nav_big_tiles :before, .rollie_my_acc_nav_side.woocommerce-MyAccount-navigation-link--downloads :after
{	
	
	content: "\f56d";
}
.woocommerce-MyAccount-navigation-link--edit-address.rollie_my_acc_nav_big_tiles :before, .rollie_my_acc_nav_side.woocommerce-MyAccount-navigation-link--edit-address :after
{	
	
	content: "\f2b9";
}
.woocommerce-MyAccount-navigation-link--edit-account.rollie_my_acc_nav_big_tiles :before, .rollie_my_acc_nav_side.woocommerce-MyAccount-navigation-link--edit-account :after
{

	content: "\f007";
}
.woocommerce-MyAccount-navigation-link--customer-logout.rollie_my_acc_nav_big_tiles :before, .rollie_my_acc_nav_side.woocommerce-MyAccount-navigation-link--customer-logout :after
{	
  content: "\f2f5";
 
}
.woocommerce-MyAccount-navigation-link--payment-methods.rollie_my_acc_nav_big_tiles :before, .rollie_my_acc_nav_side.woocommerce-MyAccount-navigation-link--payment-methods ::after
{
 content: "\f09d";
}
.woocommerce-MyAccount-navigation-link--refunded.rollie_my_acc_nav_big_tiles :before, .rollie_my_acc_nav_side.woocommerce-MyAccount-navigation-link--refunded ::after
{
 content: "\f2b5";
}
.woocommerce-MyAccount-navigation-link--on-hold.rollie_my_acc_nav_big_tiles :before, .rollie_my_acc_nav_side.woocommerce-MyAccount-navigation-link--on-hold ::after
{
 content: "\f071";
}
.woocommerce-MyAccount-navigation-link--completed.rollie_my_acc_nav_big_tiles :before, .rollie_my_acc_nav_side.woocommerce-MyAccount-navigation-link--completed ::after
{
 content: "\f00c";
}
.woocommerce-MyAccount-navigation-link--processing.rollie_my_acc_nav_big_tiles :before, .rollie_my_acc_nav_side.woocommerce-MyAccount-navigation-link--processing ::after
{
 content: "\f09d";
}
.woocommerce-MyAccount-navigation-link--canceled.rollie_my_acc_nav_big_tiles :before, .rollie_my_acc_nav_side.woocommerce-MyAccount-navigation-link--canceled ::after
{
 content: "\f00d";
}
/*Woo myaccout nav End*/
/*Orders sort menu*/
.rollie_sort_orders_counter  i 
{
vertical-align: top;
}
.rollie_sort_orders_counter  h3
{
	display: inline-block;
}
.rollie_sort_orders_counter
{
width: max-content;
text-align: center;
}

.rollie_sibling_d_none + h2
{
	display: none
}
/*Orders sort menu end*/

/*Orders Table*/


.woocommerce-orders-table__cell-rollie_order-custom_column
{
padding: 0px;

}
.woocommerce table.shop_table
{
	margin:0px;
border-collapse: collapse
}
.my_account_orders > thead
{
display: none;
border:none;
}

.rollie_woo_order_status_icon
{
	font-size:2rem;
}
.rollie_woo_order_table
{
	border-top-style: solid;
	border-top-width: 1px;
}
.woocommerce-orders-table__cell-rollie_order-custom_column
{
	padding: 0px !important;
} 
.rollie_woo_order_item_row ,.rollie_woo_order_summary_row 
{
	margin: 0px;
	margin-left:0.5rem;
	margin-right:0.5rem;
	padding: 0px !important;
}
.woocommerce table.shop_table,.woocommerce table.shop_table td
{
	border:none;
}
.rollie_woo_border_custom_column_rad
{
border-style: solid !important;
border-radius: 3px !important;
border-width: 1px !important;
}
.woocommerce-orders-table__row
{
	padding-bottom: 2rem;
}
.rollie_woo_order_table_thumbnail>img
{
	max-width: 50px;
}
.woocommerce-orders-table__cell-rollie_order-custom_column:before
{
	display: none;
}
.rollie_orders_sort_menu h3
{
	border:none !important;
}
.rollie_orders_sort_menu
{
	margin-bottom: 1rem;
	margin-top:1rem;
}
.woocommerce .col-1, .woocommerce .col-2{ max-width:none;}
.woocommerce .woocommerce-additional-fields .form-row
{
	display: block;
}





/*
Orders Table End*/

/*Cart*/
.woocommerce-cart-form,.woocommerce .cart-collaterals  .cart_totals
{
	width: 100%;
}
.woocommerce table.cart td.actions .input-text[name="coupon_code"]
{
	width: 180px;
}

/*image width*/
.woocommerce-cart-form__cart-item >.product-thumbnail
{
max-width: 100px;
}
.woocommerce-orders-table ~   .woocommerce-Pagination	/*Disabling woo pagination custom pagination is provided/*/
{
display: none;
}
.woocommerce table.cart .product-thumbnail
{

	display: block;
}

@media screen and (max-width: 900px)/*at  close md*/
{
.woocommerce table.cart td.actions .coupon
{/*ROOOW*/
	display: -ms-flexbox;

display: flex;

-ms-flex-wrap: wrap;

flex-wrap: wrap;
}
	.woocommerce .coupon > button
	{
		-ms-flex: 0 0 33.333333%;

flex: 0 0 33.333333%;

max-width: 33.333333%;
	}
.woocommerce table.cart td.actions .input-text[name="coupon_code"]
	{
 -ms-flex: 0 0 66.666667%;

flex: 0 0 66.666667%;

max-width: 66.666667%;
	}
	.woocommerce table.cart td.actions .coupon
	{
		width: 100%;
	}
	.woocommerce table.cart td.actions .input-text[name="coupon_code"]
	{
		width: 65%
	}
	.woocommerce table.shop_table
{
display: flex;
flex-direction: column;

}
	.woocommerce-cart-form__cart-item
	{
	display: -ms-flexbox;

display: flex;

-ms-flex-wrap: wrap;

flex-wrap: wrap;
}

	.woocommerce-cart-form__cart-item > .product-remove
	{
	-ms-flex: 0 0 16.666667%;

flex: 0 0 16.666667% ;

max-width: 16.666667%  ;
	}
	.woocommerce-cart-form__cart-item > .product-thumbnail
	{
	-ms-flex: 0 0 25%;

flex: 0 0 25%  ;

max-width: 25%  ;
	}

	.woocommerce-cart-form__cart-item > .product-name
	{
	-ms-flex: 0 0 58.333333%;

flex: 0 0 58.333333% ;

max-width: 58.333333%  ;
	}
	.woocommerce-cart-form__cart-item > .product-price
	{
		margin-left: 50%  ;/*BB*/
	}
	.woocommerce-cart-form__cart-item > .product-subtotal,.woocommerce-cart-form__cart-item > .product-quantity,.woocommerce-cart-form__cart-item > .product-price
		{
		
ms-flex: 0 0 16.666667%;

flex: 0 0 16.666667%;

max-width: 16.666667%;
	}

	


.woocommerce-cart-form__contents >thead 
{
display: block;
}

.woocommerce-cart-form__contents >thead >tr,.woocommerce-checkout-review-order-table > thead > tr ,.woocommerce-checkout-review-order-table  > tbody > tr 
{
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
padding-bottom: 0px;
}
.woocommerce-cart-form__contents >thead > tr > .product-name
{
-ms-flex: 0 0 50%;

flex: 0 0 50%;

max-width: 50%;
}
 .woocommerce-cart-form__contents >thead > tr > .product-subtotal , .woocommerce-cart-form__contents >thead > tr > .product-quantity , .woocommerce-cart-form__contents >thead > tr > .product-price  

{
-ms-flex: 0 0 16.666667%;
flex: 0 0 16.666667%;
max-width: 16.666667%;
}
.woocommerce td.product-quantity
{
	min-width: 0px;
}
.woocommerce-cart-form__contents >thead > tr >.product-remove, .woocommerce-cart-form__contents >thead > tr > .product-thumbnail
{
width: 0px;
padding:0px;
}


/*Col3*/
	/*
	.woocommerce-cart-form__cart-item>td:nth-child(-n+3)
	{
		display: inline-block !important;
	}
	
.woocommerce-cart-form__contents
{
	display: grid;
}

	.woocommerce-cart-form__contents .coupon
	{
		width: 100%;
		margin-bottom: 1rem; 

		} 
	*/
	.woocommerce-cart-form__contents .coupon > input
{
	margin-bottom: 0.5rem;
}

}
@media screen and (max-width: 600px)
{

	.woocommerce-cart-form__contents >thead > tr > .product-name
	{
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
	}
	 .woocommerce-cart-form__contents >thead > tr > .product-subtotal , .woocommerce-cart-form__contents >thead > tr > .product-quantity , .woocommerce-cart-form__contents >thead > tr > .product-price  
	{
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
	}


	.woocommerce-cart-form__cart-item > .product-price
		{
			margin-left: 25% ;/*BB*/
		}
		.woocommerce-cart-form__cart-item > .product-subtotal,.woocommerce-cart-form__cart-item > .product-quantity,.woocommerce-cart-form__cart-item > .product-price
			{
			
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
		}

.woocommerce-cart-form__contents  .coupon
{
	margin: 1rem;
}


}
@media screen and (max-width: 400px)
{
	.woocommerce .coupon > button
	{
		-ms-flex: 0 0 50%;

flex: 0 0 50%;

max-width: 50%;
	}

	.woocommerce-cart-form__contents > thead > tr > .product-name
	{
		display: none;
	}
	.woocommerce-cart-form__cart-item > .product-subtotal, .woocommerce-cart-form__cart-item > .product-quantity, .woocommerce-cart-form__cart-item > .product-price,.woocommerce-cart-form__contents > thead > tr > .product-subtotal, .woocommerce-cart-form__contents > thead > tr > .product-quantity, .woocommerce-cart-form__contents > thead > tr > .product-price

	{
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
	.woocommerce-cart-form__cart-item > .product-name
	{/*cOL-10*/
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%;
	}
	.woocommerce table.cart .product-thumbnail
	{
		display: none;
	}
	.woocommerce-cart-form__cart-item > .product-price
	{
		margin-left: 0px ;
	}
}
/* Cart TOOTALS*/


.rollie_woo_border_color_custom_column  *
{
	border-color: inherit;
}


.woocommerce .cart-collaterals .cart_totals h2
{
	display: none;
}

.rollie_woo_cart_content
{
	height: 100%;
	border-bottom:none !important;
	border-bottom-right-radius:0 !important;
	border-bottom-left-radius:0!important;
}
.rollie_woo_cart_total
{
		border-top:none !important;
	border-top-right-radius:0 !important;
	border-top-left-radius:0!important;
}
.rollie_woo_cart_total .woocommerce-shipping-destination
{
display: grid;
}
.rollie_woo_cart_total  .cart-subtotal ,.woocommerce-checkout-review-order-table   .cart-subtotal
{


justify-content: right;
	display: flex;
}
.woocommerce-checkout-review-order-table   .cart-subtotal
{
	margin-right:2rem;
}

.rollie_woo_cart_total  .woocommerce-shipping-totals ,.rollie_woo_cart_total .order-total
{
	border-color: inherit;
display: inline-block
}

.rollie_woo_cart_total  .woocommerce-shipping-totals  > th
{
	border-color: inherit;
	
display: block;
}

.woocommerce table.shop_table tbody th
{
		border-top: none;


}
.woocommerce table.shop_table tbody,
.woocommerce table.shop_table 
{
	border-color: inherit;
}

.rollie_woo_cart_total  .order-total
{
	border-color: inherit;
	border-right-style: solid;
	float:right;
}
.rollie_woo_cart_total  .order-total > th ,.rollie_woo_cart_total  .order-total > td,.rollie_woo_order_review_content  .order-total > th ,.rollie_woo_order_review_content .order-total > td
{
display: block;

 
padding-top: 0px !important;
padding-bottom: 0px !important;
text-align: right;
}
font-weight: initial !important;
.rollie_woo_cart_total  .order-total >th , .rollie_woo_cart_total  .order-total>td
{
	padding-top: 0px !important;
padding-bottom: 0px !important;
}
.woocommerce-Price-amount
{
	font-weight:bolder;  
}
.rollie_woo_cart_total .wc-proceed-to-checkout{
margin: auto;

width: 75%;
}
.rollie_woo_cart_total .wc-proceed-to-checkout > a
{
width: 100%;
text-align: center;
}

/*cARRCD TOOTALS ENMD*/


/*CART END*/
/*BUTTTONIUM*/
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button
{
	margin: 0.5rem !important;


}
/*BUTTTONIUM END*/
/*INPUT SPINERS*/
.quantity {
  position: relative;
	 width: 50%;	
  display: flex;
		margin: auto;
}
@media screen and (max-width:992px) and (min-width: 768px)
{
	.quantity
	{
		  width: 80%;	

	}
}

@media screen and (max-width:768px)
{
	.quantity
	{
		  width: 100%;	

	}
}





input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity-nav_r,.quantity-nav_l {

height: 40px;
width: 35%;

}

.quantity input:focus {
  outline: 0;
}
.quantity input
{
	border:none;
}

.quantity-nav_l {

}
.quantity-nav_r {

}
.quantity-button {

}

.quantity-button.quantity-up,.quantity-button.quantity-down {
height:100%;
width:100%;

}
.woocommerce .product-quantity
{
	text-align: center;
}
 .woocommerce .woocommerce-cart-form__cart-item .product-quantity {
 	padding:0px !important;
 } 
.woocommerce .quantity .qty {

    width: 30%;
    }

/*INPUT SPINERS END*/



/*Order reviev*/
.woocommerce #ship-to-different-address-checkbox  + span
{
margin-left: 0.5rem;
}
.woocommerce table.shop_table tbody th, .woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th
{
border:none;
}
.rollie_woo_order_review_content .order-total{
border-color: inherit;

border-right-style: solid;

float: right;

margin: 2rem;
}
 .woocommerce-checkout-review-order-table {
	display: flex;

flex-direction: column;
}
 .woocommerce-checkout-review-order-table > thead > tr > .product-name,.woocommerce-checkout-review-order-table > tbody > tr > .product-name {

    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;

}
.woocommerce-checkout-review-order-table > thead > tr > .product-total ,.woocommerce-checkout-review-order-table  > tbody > tr > .product-total {

    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;

}

.woocommerce-checkout-review-order-table .woocommerce-shipping-methods
{
	font-weight: initial;
}

.woocommerce-checkout #payment
{
	background: none;
	border-radius: none;
}
/*end Order reviev*/

.woocommerce-checkout .rollie_checked_payment_method
{
border-left-style: solid;
}


.wc_payment_method
{
	padding-left: 2rem;
}

/*Disablig some css*/
#add_payment_method #payment div.payment_box::before, .woocommerce-cart #payment div.payment_box::before, .woocommerce-checkout #payment div.payment_box::before
{
	display: none;
}
.woocommerce-checkout #payment div.payment_box,.woocommerce-checkout #payment div.payment_box
{
	background: none;
	
}
.payment_box 
{
	color:initial;
}
#add_payment_method #payment ul.payment_methods, .woocommerce-cart #payment ul.payment_methods, .woocommerce-checkout #payment ul.payment_methods
{
border-bottom-color: inherit;
}
/*Disablig some css end*/





/*
Animations
*/


/* PASSING */

@-webkit-keyframes passing {
  0% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
  }

  50% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
  }
}

@keyframes passing {
  0% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
  }

  50% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
  }
}

.faa-passing.animated,
.faa-passing.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-passing {
  -webkit-animation: passing 2s linear infinite;
  animation: passing 2s linear infinite;
}

.faa-passing.animated.faa-fast,
.faa-passing.animated-hover.faa-fast:hover,
.faa-parent.animated-hover:hover > .faa-passing.faa-fast {
  -webkit-animation: passing 1s linear infinite;
  animation: passing 1s linear infinite;
}

.faa-passing.animated.faa-slow,
.faa-passing.animated-hover.faa-slow:hover,
.faa-parent.animated-hover:hover > .faa-passing.faa-slow {
  -webkit-animation: passing 3s linear infinite;
  animation: passing 3s linear infinite;
}
/* PULSE */

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.faa-pulse.animated,
.faa-pulse.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-pulse {
  -webkit-animation: pulse 2s linear infinite;
  animation: pulse 2s linear infinite;
}

.faa-pulse.animated.faa-fast,
.faa-pulse.animated-hover.faa-fast:hover,
.faa-parent.animated-hover:hover > .faa-pulse.faa-fast {
  -webkit-animation: pulse 1s linear infinite;
  animation: pulse 1s linear infinite;
}

.faa-pulse.animated.faa-slow,
.faa-pulse.animated-hover.faa-slow:hover,
.faa-parent.animated-hover:hover > .faa-pulse.faa-slow {
  -webkit-animation: pulse 3s linear infinite;
  animation: pulse 3s linear infinite;
}
/* FLASHING */

@-webkit-keyframes flash {
  0%, 100%, 50% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  0%, 100%, 50% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.faa-flash.animated,
.faa-flash.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-flash {
  -webkit-animation: flash 2s ease infinite;
  animation: flash 2s ease infinite;
}

.faa-flash.animated.faa-fast,
.faa-flash.animated-hover.faa-fast:hover,
.faa-parent.animated-hover:hover > .faa-flash.faa-fast {
  -webkit-animation: flash 1s ease infinite;
  animation: flash 1s ease infinite;
}

.faa-flash.animated.faa-slow,
.faa-flash.animated-hover.faa-slow:hover,
.faa-parent.animated-hover:hover > .faa-flash.faa-slow {
  -webkit-animation: flash 3s ease infinite;
  animation: flash 3s ease infinite;
}
/* SPIN */

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.faa-spin.animated,
.faa-spin.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-spin {
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

.faa-spin.animated.faa-fast,
.faa-spin.animated-hover.faa-fast:hover,
.faa-parent.animated-hover:hover > .faa-spin.faa-fast {
  -webkit-animation: spin 0.7s linear infinite;
  animation: spin 0.7s linear infinite;
}

.faa-spin.animated.faa-slow,
.faa-spin.animated-hover.faa-slow:hover,
.faa-parent.animated-hover:hover > .faa-spin.faa-slow {
  -webkit-animation: spin 2.2s linear infinite;
  animation: spin 2.2s linear infinite;
}

/*louislin*/