	/*
	Woocomerce Rollie theme Stylesheet

	_c -> means container

	1.General
	2.MyAccount Navigation
	3.My Orders Table
4.animations

	*/

/* General */


.woocommerce
{
display: -ms-flexbox;

display: flex;

-ms-flex-wrap: wrap;

flex-wrap: wrap;
}

/* General End*/

/*Woo myaccout nav */


.woocommerce-MyAccount-navigation > ul {
list-style:none;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
text-align:center;
padding: 0;
}
	.woocommerce-orders-table__cell-rollie_order-custom_column
	{
		padding: 0px;
		display: block;
		margin-bottom:2rem;
	}
			
.rollie_my_acc_nav_big_tiles_c > .woocommerce-MyAccount-navigation /*  COL-12*/
	{
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%
		margin:auto;
		position: relative;
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
	}
	.rollie_my_acc_dashboard>nav>ul>.rollie_my_acc_nav_big_tiles  :before
	{
		font-size: 20vw !important;
	
	}




.woocommerce-MyAccount-navigation > ul >.rollie_my_acc_nav_big_tiles :before{
	display: block;
	font-size:4rem;
	font-family: "Font Awesome 5 Free","FontAwesome"; 
	font-weight: bold;

}
.rollie_my_acc_nav_big_tiles > a{

display: block;

}
.rollie_my_acc_nav_big_tiles_c > .woocommerce-MyAccount-navigation 
{
	margin-left: auto;
	margin-right: auto;
}
/*SIMPLE SIDE NAV*/


.rollie_my_acc_nav_side :after{
	display: inline;
	padding-left:0.5rem;
	padding-right:0.5rem;
	font-size:2rem;
	font-family: "Font Awesome 5 Free","FontAwesome"; 
	font-weight: bold;
	text-align:right;


}
@media screen and (min-width: 768px) /* AT BOOTSTRAP md*/
{
	.rollie_my_acc_nav_side :after{
		float: right;
	}
}
.rollie_my_acc_nav_side_c  > .woocommerce-MyAccount-navigation
{
-ms-flex: 0 0 100%;

flex: 0 0 100%;

max-width: 100%;
position: relative;

width: 100%;
}

.rollie_user_info
{
padding-right: 15px;
padding-left: 15px;	
margin: 0px;
padding-bottom: 1rem;
padding-top: 1rem;
border-top-style:solid ;
border-left-style:solid;  
border-right-style:solid; 
}
.rollie_my_acc_nav_side > a
{
	text-align:left;
	display: block;
line-height:2rem;	
	width: 100%;
}
.rollie_my_acc_nav_side
{
	padding: 0.5rem;
border-style: solid;
border-width: 1px;
	border-left-width:2px;
		border-right-width:2px;
	width: 100%

}

.rollie_my_acc_nav_side_c > nav > ul :first-child 
{
	border-top-width:2px;
}
.rollie_my_acc_nav_side_c > nav > ul :last-child 
{
	border-bottom-width:2px;
	clear: both
}

.rollie_my_acc_nav_side_c + .woocommerce-MyAccount-content
{

-ms-flex: 0 0 58.333333%;

flex: 0 0 58.333333%;

max-width: 58.333333%;
position: relative;

width: 100%;

padding-right: 15px;

padding-left: 15px;
}





@media screen and (min-width: 992px) /* AT BOOTSTRAP LG*/
{
		.rollie_my_acc_nav_side_c + .woocommerce-MyAccount-content
	{
	-ms-flex: 0 0 66.666667%;

	flex: 0 0 66.666667%;

	max-width: 66.666667%;
	}
	.rollie_my_acc_nav_big_tiles_c > .woocommerce-MyAccount-navigation /*  COL-LG-3*/
	{
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
	}
	.rollie_my_acc_nav_big_tiles_full  :before
	{
		font-size: 8vw !important;
	
	}
}

/*!!!!!!!inset 50px 0 15px -1px rgb(255, 255, 255) ,inset -50px 0 15px -1px rgb(255, 255, 255)

	/*inset 0 19px 0px 0px rgba(0,0,0,0),inset 0 -9px 0px 0px rgba(0,0,0,0),inset 30px 0 15px -4px rgba(255, 255, 255, 1), inset -30px 0 15px -4px rgba(255, 255, 255, 1)
Woo myaccout nav Avesome Icons 
	*/
.woocommerce-MyAccount-navigation-link--dashboard.rollie_my_acc_nav_big_tiles :before , .rollie_my_acc_nav_side.woocommerce-MyAccount-navigation-link--dashboard :after
{
	content: "\f0e4";
}
.woocommerce-MyAccount-navigation-link--orders.rollie_my_acc_nav_big_tiles :before, .rollie_my_acc_nav_side.woocommerce-MyAccount-navigation-link--orders :after
{
	content: "\f291";
}
.woocommerce-MyAccount-navigation-link--downloads.rollie_my_acc_nav_big_tiles :before, .rollie_my_acc_nav_side.woocommerce-MyAccount-navigation-link--downloads :after
{	
	
	content: "\f56d";
}
.woocommerce-MyAccount-navigation-link--edit-address.rollie_my_acc_nav_big_tiles :before, .rollie_my_acc_nav_side.woocommerce-MyAccount-navigation-link--edit-address :after
{	
	
	content: "\f2b9";
}
.woocommerce-MyAccount-navigation-link--edit-account.rollie_my_acc_nav_big_tiles :before, .rollie_my_acc_nav_side.woocommerce-MyAccount-navigation-link--edit-account :after
{

	content: "\f007";
}
.woocommerce-MyAccount-navigation-link--customer-logout.rollie_my_acc_nav_big_tiles :before, .rollie_my_acc_nav_side.woocommerce-MyAccount-navigation-link--customer-logout :after
{	
  content: "\f2f5";
 
}
.woocommerce-MyAccount-navigation-link--payment-methods.rollie_my_acc_nav_big_tiles :before, .rollie_my_acc_nav_side.woocommerce-MyAccount-navigation-link--payment-methods ::after
{
 content: "\f09d";
}
.woocommerce-MyAccount-navigation-link--refunded.rollie_my_acc_nav_big_tiles :before, .rollie_my_acc_nav_side.woocommerce-MyAccount-navigation-link--refunded ::after
{
 content: "\f2b5";
}
.woocommerce-MyAccount-navigation-link--on-hold.rollie_my_acc_nav_big_tiles :before, .rollie_my_acc_nav_side.woocommerce-MyAccount-navigation-link--on-hold ::after
{
 content: "\f071";
}
.woocommerce-MyAccount-navigation-link--completed.rollie_my_acc_nav_big_tiles :before, .rollie_my_acc_nav_side.woocommerce-MyAccount-navigation-link--completed ::after
{
 content: "\f00c";
}
.woocommerce-MyAccount-navigation-link--processing.rollie_my_acc_nav_big_tiles :before, .rollie_my_acc_nav_side.woocommerce-MyAccount-navigation-link--processing ::after
{
 content: "\f09d";
}
.woocommerce-MyAccount-navigation-link--canceled.rollie_my_acc_nav_big_tiles :before, .rollie_my_acc_nav_side.woocommerce-MyAccount-navigation-link--canceled ::after
{
 content: "\f00d";
}
/*Woo myaccout nav End*/
/*Orders sort menu*/
.rollie_sort_orders_counter  i 
{
vertical-align: top;
}
.rollie_sort_orders_counter  h3
{
	display: inline-block;
}
.rollie_sort_orders_counter
{
width: max-content;
text-align: center;
}

.rollie_sibling_d_none + h2
{
	display: none
}
/*Orders sort menu end*/

/*Orders Table*/

.rollie_woo_order_item_row
{
	border-left-style: solid;

}
.rollie_woo_order_summary_row
{
	border-right-style: solid;
}
.woocommerce-orders-table__cell-rollie_order-custom_column
{
padding: 0px;

}
.woocommerce table.shop_table
{
border-collapse: collapse
}
.my_account_orders > thead
{
display: none;
border:none;
}
.rollie_woo_order_table_banner
{

}
.rollie_woo_order_status_icon
{
	font-size:2rem;
}
.rollie_woo_order_table
{
	border-top-style: solid;
	border-top-width: 1px;
}
.woocommerce-orders-table__cell-rollie_order-custom_column
{
	padding: 0px !important;
} 
.rollie_woo_order_item_row ,.rollie_woo_order_summary_row 
{
	margin: 0px;
	margin-left:0.5rem;
	margin-right:0.5rem;
	padding: 0px !important;
}
.woocommerce table.shop_table,.woocommerce table.shop_table td
{
	border:none;
}
.rollie_woo_border_custom_column_rad
{
border-style: solid !important;
border-radius: 3px !important;
border-width: 1px !important;
}
.woocommerce-orders-table__row
{
	padding-bottom: 2rem;
}
.rollie_woo_order_table_thumbnail>img
{
	max-width: 50px;
}
.woocommerce-orders-table__cell-rollie_order-custom_column:before
{
	display: none;
}
.woocommerce .col-1, .woocommerce .col-2{ max-width:none;}






/*
Orders Table End*/

/*Cart*/
.woocommerce-cart-form,.woocommerce .cart-collaterals  .cart_totals
{
	width: 100%;
}
.woocommerce table.cart td.actions .input-text
{
	width: 140px;
}
/*image width*/
.woocommerce-cart-form__cart-item >.product-thumbnail
{
max-width: 100px;
}
.woocommerce-orders-table ~   .woocommerce-Pagination	/*Disabling woo pagination custom pagination is provided/*/
{
display: none;
}
.woocommerce table.cart .product-thumbnail
{

	display: block;
}

@media screen and (max-width: 900px)/*at  close md*/
{
	.woocommerce-cart-form__cart-item
	{
	.display: -ms-flexbox;

display: flex;

-ms-flex-wrap: wrap;

flex-wrap: wrap;
}

	.woocommerce-cart-form__cart-item > .product-remove
	{
	-ms-flex: 0 0 16.666667%;

flex: 0 0 16.666667%  !important;

max-width: 16.666667%  !important;
	}
	.woocommerce-cart-form__cart-item > .product-thumbnail
	{
	-ms-flex: 0 0 25%;

flex: 0 0 25%  !important;

max-width: 25%  !important;
	}

	.woocommerce-cart-form__cart-item > .product-name
	{
	-ms-flex: 0 0 58.333333%;

flex: 0 0 58.333333%  !important;

max-width: 58.333333%  !important;
	}
	.woocommerce-cart-form__cart-item > .product-price
	{
		margin-left: 50%  !important;/*BB*/
	}
	.woocommerce-cart-form__cart-item > .product-subtotal,.woocommerce-cart-form__cart-item > .product-quantity,.woocommerce-cart-form__cart-item > .product-price
		{
		
ms-flex: 0 0 16.666667%;

flex: 0 0 16.666667%;

max-width: 16.666667%;
	}

	


.woocommerce-cart-form__contents >thead 
{
display: block;
}

.woocommerce-cart-form__contents >thead >tr
{
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
padding-bottom: 0px;
}
.woocommerce-cart-form__contents >thead > tr > .product-name
{
-ms-flex: 0 0 50%;

flex: 0 0 50%;

max-width: 50%;
}
 .woocommerce-cart-form__contents >thead > tr > .product-subtotal , .woocommerce-cart-form__contents >thead > tr > .product-quantity , .woocommerce-cart-form__contents >thead > tr > .product-price  

{
-ms-flex: 0 0 16.666667%;
flex: 0 0 16.666667%;
max-width: 16.666667%;
}
.woocommerce td.product-quantity
{
	min-width: 0px;
}
.woocommerce-cart-form__contents >thead > tr >.product-remove, .woocommerce-cart-form__contents >thead > tr > .product-thumbnail
{
width: 0px;
padding:0px;
}

/*Col3*/
	/*
	.woocommerce-cart-form__cart-item>td:nth-child(-n+3)
	{
		display: inline-block !important;
	}
	
.woocommerce-cart-form__contents
{
	display: grid;
}

	.woocommerce-cart-form__contents .coupon
	{
		width: 100%;
		margin-bottom: 1rem; 

		} 
	*/
	.woocommerce-cart-form__contents .coupon > input
{
	margin-bottom: 0.5rem;
}
}
@media screen and (max-width: 600px)
{

.woocommerce-cart-form__contents >thead > tr > .product-name
{
-ms-flex: 0 0 25%;
flex: 0 0 25%;
max-width: 25%;
}
 .woocommerce-cart-form__contents >thead > tr > .product-subtotal , .woocommerce-cart-form__contents >thead > tr > .product-quantity , .woocommerce-cart-form__contents >thead > tr > .product-price  
{
-ms-flex: 0 0 25%;
flex: 0 0 25%;
max-width: 25%;
}


.woocommerce-cart-form__cart-item > .product-price
	{
		margin-left: 25%  !important;/*BB*/
	}
	.woocommerce-cart-form__cart-item > .product-subtotal,.woocommerce-cart-form__cart-item > .product-quantity,.woocommerce-cart-form__cart-item > .product-price
		{
		
-ms-flex: 0 0 25%;
flex: 0 0 25%;
max-width: 25%;
	}

.woocommerce-cart-form__contents  .coupon
{
	margin: 1rem;
}


}
/*CART END*/

/*
Animations
*/


/* PASSING */

@-webkit-keyframes passing {
  0% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
  }

  50% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
  }
}

@keyframes passing {
  0% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
  }

  50% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
  }
}

.faa-passing.animated,
.faa-passing.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-passing {
  -webkit-animation: passing 2s linear infinite;
  animation: passing 2s linear infinite;
}

.faa-passing.animated.faa-fast,
.faa-passing.animated-hover.faa-fast:hover,
.faa-parent.animated-hover:hover > .faa-passing.faa-fast {
  -webkit-animation: passing 1s linear infinite;
  animation: passing 1s linear infinite;
}

.faa-passing.animated.faa-slow,
.faa-passing.animated-hover.faa-slow:hover,
.faa-parent.animated-hover:hover > .faa-passing.faa-slow {
  -webkit-animation: passing 3s linear infinite;
  animation: passing 3s linear infinite;
}
/* PULSE */

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.faa-pulse.animated,
.faa-pulse.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-pulse {
  -webkit-animation: pulse 2s linear infinite;
  animation: pulse 2s linear infinite;
}

.faa-pulse.animated.faa-fast,
.faa-pulse.animated-hover.faa-fast:hover,
.faa-parent.animated-hover:hover > .faa-pulse.faa-fast {
  -webkit-animation: pulse 1s linear infinite;
  animation: pulse 1s linear infinite;
}

.faa-pulse.animated.faa-slow,
.faa-pulse.animated-hover.faa-slow:hover,
.faa-parent.animated-hover:hover > .faa-pulse.faa-slow {
  -webkit-animation: pulse 3s linear infinite;
  animation: pulse 3s linear infinite;
}
/* FLASHING */

@-webkit-keyframes flash {
  0%, 100%, 50% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  0%, 100%, 50% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.faa-flash.animated,
.faa-flash.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-flash {
  -webkit-animation: flash 2s ease infinite;
  animation: flash 2s ease infinite;
}

.faa-flash.animated.faa-fast,
.faa-flash.animated-hover.faa-fast:hover,
.faa-parent.animated-hover:hover > .faa-flash.faa-fast {
  -webkit-animation: flash 1s ease infinite;
  animation: flash 1s ease infinite;
}

.faa-flash.animated.faa-slow,
.faa-flash.animated-hover.faa-slow:hover,
.faa-parent.animated-hover:hover > .faa-flash.faa-slow {
  -webkit-animation: flash 3s ease infinite;
  animation: flash 3s ease infinite;
}
/* SPIN */

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.faa-spin.animated,
.faa-spin.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-spin {
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

.faa-spin.animated.faa-fast,
.faa-spin.animated-hover.faa-fast:hover,
.faa-parent.animated-hover:hover > .faa-spin.faa-fast {
  -webkit-animation: spin 0.7s linear infinite;
  animation: spin 0.7s linear infinite;
}

.faa-spin.animated.faa-slow,
.faa-spin.animated-hover.faa-slow:hover,
.faa-parent.animated-hover:hover > .faa-spin.faa-slow {
  -webkit-animation: spin 2.2s linear infinite;
  animation: spin 2.2s linear infinite;
}

/*louislin*/